[user]
	email = tal.bny3@gmail.com
	name = tal
[alias]
	plg = log --graph --pretty=format:'%C(yellow)%h%Creset -%Cred%d%Creset %s %Cgreen| %cr %C(bold blue)| %an%Creset' --abbrev-commit --date=relative
	recommit = commit --amend -m
[alias]
    acp = "!f() { git add -A && git commit -m \"$@\" && git push origin HEAD; }; f"